/* Bayley Welsh 4/9/22 */


h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color:floralwhite
}

li{
    font-weight: bold;
}

ul{
    font-style: italic;
}

a:hover{text-decoration: underline;}
